<!doctype html>
<html>
  <head>
  	{% block head %}
  	<!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>Campus Resources</title>
  	<link rel="stylesheet" type="text/css" href="../static/bootstrap.css"> -->

    <title>Campus Resources</title>
    <link rel="stylesheet" type="text/css" href="../static/skeleton.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    {% endblock %}
  </head>
  <body>
    <div id="content">
    <div class="header"> 
      <a href="#aboutUs"> About Us </a> 
      <a href="#academics"> Academics </a> 
      <a href="#twitter"> Twitter </a>
    <!--
      <div class="button"> <a href="#aboutUs"> About Us </a> </div>
      <div class="button"> <a href="#academics"> Academics </a> </div>
      <div class="button"> <a href="#twitter"> Twitter </a> </div>
      -->
    </div>
	  {% block content %}
	  {% endblock %}
    </style>
	</div>
    <div id="footer">
      {% block footer %}
      <div class="container">
        <p>Created by: Zi Yang and Yoshiki Yamamoto</p>
      </div>
      {% endblock %}
    </div>
  </body>
</html>