{% extends "base.html" %}

{% block content %}
<div class="container">
	<div id="twitter"> 
		<div class="row">
			<div class ="nine columns"> stuff </div>
			<div class="three columns"></div>
			<a class="twitter-timeline" data-width="240" data-height="620" data-theme="light" href="https://twitter.com/UMich">Tweets by UMich</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
	<div id = "academics">
		<h1> Academics </h1>
	</div>
	<div id = "health">
		<h1> Health </h1>
	</div>
	<div id = "orgs">
		<h1> Organizations </h1>
	</div>
	<div id = "aboutUs">
		<h1> About Us </h1>
	</div>
</div>    
{% endblock %}
