{% extends "base.html" %}

{% block content %}
	<div class="container">
		<h1>Heading</h1>
		<h2>Heading</h2>
		<h3>Heading</h3>
		<h4>Heading</h4>
		<h5>Heading</h5>
		<h6>Heading</h6>
		 <a class="twitter-timeline"  href="https://twitter.com/search?q=university%20of%20michigan%20" data-widget-id="760497583273943041">Tweets about university of michigan </a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
	</div>
{% endblock %}