{% extends "base.html" %}

{% block content %}
<div class="container">
	<div id = "aboutUs">
		<h1> About Us </h1>
	</div>
	<div id = "academics">
		<h1> Academics </h1>
	</div>
	<div id = "twitter">
		<a class="twitter-timeline" data-width="100" data-height="700" data-theme="light" href="https://twitter.com/UMich">Tweets by UMich</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>

	<h3>Heading</h3>
	<h4>Heading</h4>
	<h5>Heading</h5>
	<h6>Heading</h6>
</div>    
{% endblock %}
